@import "base";
/*--------------------------------------------------
AREA DO CLIENTE
---------------------------------------------------*/

.areacliente {
  .content {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 15px;
    p.subtitle {
      color: #777;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  #column-right {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 15px 25px 20px;
    ul li {
      border-bottom: 1px solid #ddd;
      @include transition(border .25s linear);

      &:hover{
        border-color: lighten($main-color, 20%)
      }

      a {
        color: #444;
        display: block;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 5px;
        text-decoration: none;
        &:hover {
          background: lighten($main-color, 40%);
        }
      }
    }
  }
  h1.title {
    color: #434343;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 25px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    &:before {
      background: #464646 none repeat scroll 0 0;
      bottom: -8px;
      content: "";
      display: block;
      height: 5px;
      position: absolute;
      width: 60px;
    }
  }
  h3.subtitle {
    color: #333;
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
}

/*--------------------------------------------------
MEUS DADOS
---------------------------------------------------*/

#minhaconta {
  padding: 60px 0;
  .content {
    legend {
      font-size: 22px;
      font-weight: 700;
      margin: 20px 0;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: -1px;
      color: #555;
    }
    .control-label {
      font-weight: normal;
      color: #777;
      font-size: 12px;
      &:before {
        color: #f00;
        content: "* ";
        font-weight: bold;
      }
    }
    .form-control {
      @include border-radius(0);
    }
    label.radio-inline {}
    a.agree {
      color: #464646;
    }
    .buttons input {
      margin-top: 20px;
    }
    .btn.btn-salvar {
      background-color: #464646;
      border: 1px solid #464646;
      @include border-radius(0);
      color: #ffffff;
      font-size: 0.875em;
      height: 42px;
      letter-spacing: 1px;
      line-height: 1.486em;
      margin: 5px 0 0;
      padding: 10px 14px;
      position: relative;
      text-transform: uppercase;
      vertical-align: top;
      width: 240px;
      &:hover {
        background: #fff none repeat scroll 0 0;
        color: #464646;
      }
    }
  }
}

/*--------------------------------------------------
Endereços
---------------------------------------------------*/

#enderecos {
  padding: 60px 0;
  .endereco-block {
    border: 1px solid #eee;
    padding: 12px;
    margin-bottom: 15px;
    h5 {
      color: #555;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 0 0 5px;
      padding: 0;
      text-transform: uppercase;
    }
    span {
      color: #999999;
      font-size: 13px;
      font-weight: normal;
      line-height: 20px;
      margin: 0;
      display: block;
    }
    .acoes {
      border-top: 1px solid #eee;
      margin: 8px 0 0;
      padding: 5px 0 0;
      a {
        color: #555;
        float: right;
        font-size: 14px;
        font-weight: 500;
        margin: 0 5px;
        padding: 0;
        text-transform: uppercase;
        &:hover {
          color: #464646;
          text-decoration: none;
        }
      }
    }
  }
}

/*--------------------------------------------------
Meus Pedidos
---------------------------------------------------*/

#pedidos {
  padding: 60px 0;
  .lista-pedidos .table {
    th {
      background: #464646 none repeat scroll 0 0;
      color: #fff;
    }
    .item-row td {
      color: #777;
      color: #777;
      font-size: 13px;
      a {
        color: #df5c39;
        font-size: 16px;
        line-height: 0;
        &:hover {
          color: #464646;
        }
      }
    }
  }
}

@media(max-width: 650px) {
  #pedidos .lista-pedidos .table .item-row {
    margin-bottom: 30px;
    border: 1px solid #eee;
  }
}

/*--------------------------------------------------
Meus Pedidos - Pedido
---------------------------------------------------*/

#pedido {
  padding: 60px 0;
  .table {
    &.table-xs {
      th.text-center {
        color: #666666;
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        padding: 18px 0;
        text-align: center;
        text-transform: uppercase;
      }
      .item-row td {
        color: #999;
        padding: 15px;
        vertical-align: middle;
        .desc-item {
          p {
            color: #999999;
            font-size: 13px;
            font-weight: normal;
            line-height: 20px;
            margin: 0;
          }
          h6.product-title {
            margin: 0;
            a {
              color: #666666;
              font-size: 14px;
              font-weight: 500;
              overflow: hidden;
              text-overflow: ellipsis;
              text-transform: uppercase;
              white-space: nowrap;
            }
          }
        }
      }
    }
    &.acompanhamento {
      td {
        position: relative;
        color: #666666;
        text-transform: uppercase;
      }
      thead tr td {
        color: #666666;
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        padding: 10px;
        text-transform: uppercase;
      }
    }
  }
  h3.subtitle {
    padding-bottom: 0;
    position: relative;
    text-transform: uppercase;
  }
}

/*--------------------------------------------------
Wishilist
---------------------------------------------------*/

#wishlist {
  .wishlist-content .table {
    .img-prod {
      float: left;
      height: 100px;
      overflow: hidden;
      width: 100px;
      margin-right: 10px;
    }
    .desc-item {
      margin-top: 15px;
      h6.product-title a {
        color: #666666;
        font-size: 14px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    a {
      &.btn-ver {
        color: #464646;
        padding: 0 10px;
      }
      &.btn-remover {
        color: #df5c39;
        padding: 0 10px;
      }
    }
  }
  .table.table-xs .item-row:last-child td {
    border-bottom: 1px solid #ddd;
  }
}

/*--------------------------------------------------
Paginas
---------------------------------------------------*/

.parallax-header {
  color: #ffffff;
  height: 45vh;
  margin: 0 0 60px;
  overflow: hidden;
  position: relative;
  width: 100%;
  .parallax-text {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    width: 100%;
    h6 {
      text-align: center;
      font-weight: 700;
      font-size: 45px;
      text-transform: uppercase;
      color: #fff;
      @include text-shadow(1px 2px 3px rgba(0, 0, 0, 0.7));
    }
    p {
      color: #fff;
      font-size: 18px;
      text-align: center;
      @include text-shadow(1px 2px 3px rgba(0, 0, 0, 0.7));
    }
    .divider {
      background: #fff none repeat scroll 0 0;
      height: 5px;
      margin: 20px auto 0;
      width: 70px;
    }
  }
}

.parallax-header::before {
  background: #787581 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

#sobre {
  .parceiros {
    background-color: #f5f5f5;
    padding: 30px 0;
    margin: 40px 0;
    h2 {
      color: #333333;
      letter-spacing: 1px;
      margin: 15px 0 20px;
      text-transform: uppercase;
      font-weight: 700;
    }
    p {
      color: #777777;
      font-size: 16px;
      line-height: 1.6875;
    }
    .brand-lg-list .row-item {
      border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      a {
        border-right: 1px solid #e5e5e5;
        float: left;
        width: 20%;
        &:last-child {
          border-right: 1px solid transparent;
        }
        img {
          display: block; //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all 300ms 0s ease;
          opacity: 0.3;
          filter: alpha(opacity=30);
          filter: grayscale(100%);
          filter: gray;
        }
        &:hover img {
          opacity: 1;
          filter: alpha(opacity=100);
          filter: grayscale(0%);
          filter: gray;
        }
      }
    }
  }
  .txt-sobre p {
    color: #777777;
    font-size: 16px;
    line-height: 1.6875;
  }
}

#faq {
  padding: 60px 0;

  #accordion{
    .panel{
      @include border-radius(0);
    }

    .panel-heading {
      padding: 0;
      a {
        color: #333;
        display: block;
        font-size: 13px;
        font-weight: 600;
        padding: 10px 50px 10px 15px;
        text-transform: uppercase;
        position:relative;

        &, &:hover{
          background-color: lighten($main-color, 35%)
        }
        &:hover, &:focus {
          text-decoration: none;
          color: #464646;
        }
        &.collapsed{
          background-color: #f5f5f5;

          &::after{
            content: "\f0d7";
          }

          &:hover{
            background-color: lighten($main-color, 40%)
          }
        }
        &::after{
          content: "\f0d8";
          font: normal normal normal 2em/1 FontAwesome;
          position: absolute;
          right:0;
          top:0;
          bottom:0;
          width:50px;
          height: 100%;
          text-align: center;
          line-height: 1.5em;
        }
      }
    }
  }
}

.conteudo .pageContent {
  h4 {
    color: #555;
    font-size: 24px;
    margin-top: 25px;
  }
  p {
    color: #777777;
    font-size: 16px;
    line-height: 1.6875;
  }
}

.pageContent h2.titulo {
  color: #444;
  font-weight: 700;
  padding-bottom: 0;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;

  &::after{
    content: " ";
    width: 70px;
    height: 4px;
    background-color: $main-color;
    position:absolute;
    bottom: -7px;
    left:0
  }
}

/*--------------------------------------------------
Contato
---------------------------------------------------*/

#contato {
  padding: 60px 0;
  .address-section {
    .contact-address {
      min-height: 230px;
      padding: 40px 20px 30px;
      text-align: center;
      border: 1px solid #ddd;
      margin-bottom: 10px;
    }
    h6 {
      color: #666;
    }
    i.fa {
      @include border-radius(50%);
      @include box-shadow(0 0 4px rgba(0, 0, 0, 0.1));
      //color: #999999;
      color: $main-color;
      font-size: 30px;
      height: 60px;
      line-height: 60px;
      margin-bottom: 30px;
      text-align: center;
      @include transition(all 0.3s ease 0s);
      width: 60px;
    }
  }
  .message-box-section {
    margin-top: -50px;
    .message-box {
      background: #fff none repeat scroll 0 0;
      padding: 30px;
      @include box-shadow(0 0 4px rgba(0, 0, 0, 0.1));
    }
  }
  .message-box form#contact-form {
    h4.section-title {
      border-left: 3px solid #3498db;
      color: #666666;
      font-weight: 700;
      padding: 2px 0 2px 5px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    textarea.custom-textarea {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px 8px;
      margin-bottom: 10px;
    }
    div.row div.col-md-6 input {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px 8px;
      margin-bottom: 10px;
    }
    button.submit-btn {
      background: #222 none repeat scroll 0 0;
      border: medium none;
      color: rgb(255, 255, 255);
      float: right;
      font-size: 13px;
      font-weight: 700;
      height: 38px;
      margin: 10px 0 0 10px;
      padding: 0 20px;
      text-transform: uppercase;
      &:hover {
        background: #3498db none repeat scroll 0 0;
      }
    }
  }
}

#cd-google-map {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
  position: relative;
  address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em;
    background-color: rgba(95, 183, 234, 0.9);
    color: #ffffff;
    font-size: 13px;
    font-size: 0.8125rem;
  }
}

#google-container {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #e7eaf0;
}

@media only screen and(min-width: 768px) {
  #cd-zoom-in {
    margin-left: 50px;
    margin-top: 50px;
  }
  #cd-zoom-out {
    margin-left: 50px;
  }
  #cd-google-map address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}

#cd-zoom-in {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(95, 183, 234, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url(../img/icon-controller.svg);
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}

#cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(95, 183, 234, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url(../img/icon-controller.svg);
  background-position: 50% -32px;
}

.no-touch {
  #cd-zoom-in:hover {
    background-color: #464646;
  }
  #cd-zoom-out:hover {
    background-color: #464646;
  }
}
