@import 'base';

.all-wrap {
  min-height: calc(100vh - 145px);
}

body,
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: $font-stack;
}

a {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.anima {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

:focus {
  text-decoration: none;
}

.nopadding {
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.noselect,
.noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noselect,
.noselect img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
/*--------------------------------------------------
Alinhamento do texto
---------------------------------------------------*/
.text-left-not-lg,
.text-left-not-md,
.text-left-not-sm,
.text-left-not-xs {
  text-align: left;
}

.text-center-not-lg,
.text-center-not-md,
.text-center-not-sm,
.text-center-not-xs {
  text-align: center;
}

.text-right-not-lg,
.text-right-not-md,
.text-right-not-sm,
.text-right-not-xs {
  text-align: right;
}

.text-justify-not-lg,
.text-justify-not-md,
.text-justify-not-sm,
.text-justify-not-xs {
  text-align: justify;
}
@media (max-width: 767px) {
  .text-center-not-xs,
  .text-justify-not-xs,
  .text-left-not-xs,
  .text-right-not-xs {
    text-align: inherit;
  }

  .text-left-xs {
    text-align: left;
  }

  .text-center-xs {
    text-align: center;
  }

  .text-right-xs {
    text-align: right;
  }

  .text-justify-xs {
    text-align: justify;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-not-sm,
  .text-justify-not-sm,
  .text-left-not-sm,
  .text-right-not-sm {
    text-align: inherit;
  }

  .text-left-sm {
    text-align: left;
  }

  .text-center-sm {
    text-align: center;
  }

  .text-right-sm {
    text-align: right;
  }

  .text-justify-sm {
    text-align: justify;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .text-center-not-md,
  .text-justify-not-md,
  .text-left-not-md,
  .text-right-not-md {
    text-align: inherit;
  }

  .text-left-md {
    text-align: left;
  }

  .text-center-md {
    text-align: center;
  }

  .text-right-md {
    text-align: right;
  }

  .text-justify-md {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-center-not-lg,
  .text-justify-not-lg,
  .text-left-not-lg,
  .text-right-not-lg {
    text-align: inherit;
  }

  .text-left-lg {
    text-align: left;
  }

  .text-center-lg {
    text-align: center;
  }

  .text-right-lg {
    text-align: right;
  }

  .text-justify-lg {
    text-align: justify;
  }
}
/* ====================================================================================================
PRELOADER
==================================================================================================== */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}

.sk-spinner-wave.sk-spinner {
  margin: -15px 0 0 -25px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.ie8 .sk-spinner-wave.sk-spinner {
  display: none;
}

.sk-spinner-wave div {
  background-color: #000;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/* ====================================================================================================
BREADCRUMB
==================================================================================================== */

.breadcrumb .home-link a.fa-home {
  color: $main-color;
}

.breadcrumb .home-link a.fa-home:focus,
.breadcrumb .home-link a.fa-home:hover {
  text-decoration: none;
}
/* ====================================================================================================
RODAPÉ
==================================================================================================== */
.footer {
  background: #000; //padding: 10px 0;

  .sub-footer {
    padding: 10px 0;

    span {
      color: #fff;
      font-size: 12px;
      display: inline-block;
      margin-top: 5px;
    }

    #logoltx {
      width: 80px;
      display: block;
      float: right;
      margin-left: 15px;

      svg {
        width: 100%;
      }

      .cor1,
      .cor2,
      .cor3 {
        fill: rgba(225, 225, 225, 0.5);
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
      }

      svg:hover .cor1 {
        fill: #414042;
      }

      svg:hover .cor2 {
        fill: #808080;
      }

      svg:hover .cor3 {
        fill: #F26722;
      }
    }

    #social-icons {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 0;

      li {
        display: inline-block;
      }

      li a {
        color: #FFF;
        margin: 0 2px 2px;
      }

      li a.facebook:hover {
        color: #3b5999;
      }

      li a.twitter:hover {
        color: #55acee;
      }

      li a.instagram:hover {
        color: #e4405f;
      }

      li a.linkedin:hover {
        color: #0077B5;
      }

      li a.youtube:hover {
        color: #cd201f;
      }
    }
  }
}
/* SCROLL UP */
.scrollup {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: $main-color;

  &:hover {
    background-color: #414042;
    color: #fff;
  }
}
/*--------------------------------------------------
Footer
---------------------------------------------------*/
.footer_bottom_area {
  background: #1d1c1c;
  margin-top: 50px;
}

.footer_bottom {
  overflow: hidden;
  padding: 30px 0 20px;
}

.footer_bottom .logo {
  border-bottom: 1px solid #dddddd;
  float: none;
  margin-bottom: 23px;
  padding: 0 0 13px;
  width: 100%;
}

.footer_widget h4 {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.4);
}

.footer_widget h4::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  bottom: 4px;
  content: "";
  position: absolute;
  width: 100%;
  left: 50%;
}

.footer_widget > ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  color: #666666;
  font-size: 13px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
}

.footer_widget > ul > li::after {
  content: " ";
  width: 0;
  height: 1px;
  background-color: $main-color;
  position: absolute;
  bottom: 0;
  left: 0;
  @include transition(width 0.2s ease-out)
}

.footer_widget > ul > li:hover::after {
  width: 100%;
}

.footer_widget > ul > li:last-child {
  border-bottom: none;
}

.footer_widget > ul > li.no_border {
  border-bottom: none;
}

.footer_widget .special_widget > li {
  border-bottom: medium none;
  margin-bottom: 5px;
  line-height: 20px;
}

.footer_widget > ul > li > i {
  float: left;
  font-size: 20px;
  margin-right: 17px;
  min-height: 40px;
  padding-top: 3px;
  margin-left: 5px;
}

.footer_widget > ul > li > a {
  color: #666666;
  font-size: 13px;
  display: block;
  @include transition(color 0.25s linear)
}

.footer_widget > ul > li > a:hover {
  color: $main-color;
  text-decoration: none;
}

.footer_widget > ul > li > a > i,
.footer_widget > ul > li > span > i {
  margin-right: 10px;
}

footer .payment {
  margin-top: 29px;
}

footer .payment > a {
  display: inline-block;
  margin-right: 9px;
}

.footer_menu .footer_nav > ul {
  float: right;
}

.footer_menu .footer_nav > ul > li {
  float: left;
}

.footer_menu .footer_nav > ul > li > a {
  border-right: 1px solid #e4e4e4;
  color: #666666;
  display: inline-block;
  font-size: 13px;
  line-height: 10px;
  padding: 0 11px;
  margin: 0;
  text-transform: none;
  font-weight: 400;
}

.footer_menu .footer_nav > ul > li:last-child a {
  padding-right: 0;
  border-right: none;
}

.footer_menu .footer_nav > ul > li > a:hover {
  color: #000;
}
/* ====================================================================================================
TITULOS E TEXTOS
==================================================================================================== */
.texto {}

.section-title {
  h2 {}
}

.btn-style {
  &:hover {}
}
/* ====================================================================================================
INPUT COUNTER
==================================================================================================== */
.input-counter {
  margin: 0 auto;
  position: relative;
  width: 134px;

  input {
    border: 1px solid #e5e5e5;
    display: inline-block; //font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    height: 42px;
    line-height: 1em;
    text-align: center;
    width: 134px;
    font-weight: 400;
  }

  span {
    color: #777777;
    cursor: pointer;
    display: inline-block; //font-family: Ubuntu, sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 1em;
    margin-top: -15px;
    opacity: 0.3;
    position: absolute;
    top: 50%;

    &:hover {
      color: #331046;
      opacity: 1;
    }

    &.minus-btn {
      left: 19px;
    }

    &.plus-btn {
      right: 19px;
    }
  }
}
/* ====================================================================================================
HEADER MENU
==================================================================================================== */
#header {
  position: fixed;
  top: 0;
  -webkit-transition: top 0.6s ease-in-out;
  -moz-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out;
  width: 100%;
  z-index: 100;
  background: #fff;

  @media (min-width: 992px){
    height: 180px;
  }
  @media (max-width: 992px){
    height: auto;
  }

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);

  .top-bar {
    background: $complementary-color;
    padding: 5px 0;

    #top-nav-social {
      @media (max-width: 992px){
        text-align: left;
      }
      a {
        color: #CCD0D0;
        display: inline-block;
        width: 1.65em;
        height: 1.65em;
        text-align: center;
        line-height: 1.65em;
        font-size: 15px;
        margin: 0;
        text-decoration: none;

        &:hover {
          background: #ffffff;
          color: $main-color;
        }
      }
    }

    #top-nav-text {
      @media (max-width: 992px){
        text-align: left;
      }
      a {
        color: #CCD0D0;
        font-size: 12px;
        line-height: 2em;
        text-decoration: none;

        &:hover {
          color: $main-color;
        }
      }
    }

    button.navbar-toggle{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 35px;
      color: #FFF;
      margin: 0 5px;
      line-height: 30px;
      padding: 11px;
    }
  }

  .wrap-second-area {
    border-bottom: solid 1px rgba(43, 47, 52, 0.1);
    padding: 10px 0;

    .logo {
      margin-top: 6px;
      display: inline-block;
    }

    .area-search {
      border: 1px #ccc solid;
      width: 100%;
      margin: 10px 0;

      #nm-form_input {
        padding: 14px 20px;
        color: #666;
        font-size: 16px;
        border: none;
        width: calc(100% - 60px);
      }

      #nm-form_button {
        color: $main-color;
        font-size: 22px;
        font-weight: 700;
        border: none;
        background: none;
        height: 50px;
        width: 50px;
        line-height: 50px;
      }
    }

    .mensagem-ola {
      color: #555;
      font-size: 12px;

      @media (min-width: 992px){
        margin: 18px 0;
      }
      @media (max-width: 992px){
        margin: 0px 0;
        line-height: 25px;
      }

      a {
        color: $main-color;

        i{
          @media (min-width: 992px){
            display: none;
          }
          @media (max-width: 992px){
            display: inline-block;
          }
        }
      }
    }

    .carrinho {
      position: relative;
      text-align: center;
      margin: 9px 0;

      a {
        text-decoration: none;

        i {
          @media (min-width: 992px){
            font-size: 55px;
          }
          @media (max-width: 992px){
            font-size: 30px;
          }
          color: $main-color;
        }

        .badge {
          position: absolute;
          right: 0;

          @media (min-width: 992px){
            bottom: 0;
            height: 30px;
            width: 30px;
          }
          @media (max-width: 992px){
            bottom: -5px;
            height: 25px;
            width: 25px;
          }

          border-radius: 50%;
          line-height: 27px;
          padding: 0;
          background: $second-color;
        }
      }
    }
  }

  nav.navbar.bootsnav {
    border-bottom: none;
    height: 0;
    min-height: 0;

    .navbar-collapse.collapse{
      background-color: #FFF
    }
    #navbar-menu {
      .navbar-nav {
        li {
          background-color: #FFF;
          a {
            color: #000000;
            font-size: 12px;
            font-family: $font-stack;
            border-bottom: solid 3px transparent;
            padding: 13px 0;
            letter-spacing: 0.05em;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 7px;

            &:hover {
              border-bottom-color: $main-color;
            }

            &::after {
              display: none;
            }
          }
        }
      }

      .megamenu-content {
        li {
          padding: 0;
        }

        .col-menu {
          padding: 20px 15px;

          .content {
            margin-bottom: 20px;
          }
        }

        .title {
          color: $main-color;
          font-weight: 700;
          font-size: 13px;
          margin: 0 0 5px;
        }

        .menu-col {
          li {
            a {
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin: 0;
              padding: 4px 0;
              text-transform: none;
              color: #555;

              &:hover {
                color: $second-color;
              }
            }
          }
        }

        .imagebanner {
          a {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

  &.nav-down {
    top: 0;
  }

  &.nav-up {
    top: -180px;
  }
}

.all-wrap {
  @media (min-width: 992px){
    margin-top: 180px;
  }
  @media (max-width: 992px){
    margin-top: 130px;
  }
}
