.progress > li a:hover, .progress > li.active, .progress > li.active a {
  color: #1d1c1c;
  text-decoration: none; }

#carrinho .table, #carrinho .table th, #carrinho .table td {
  border: 1px solid #eee;
  border-collapse: collapse; }

.progress {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #849397;
  background: none;
  box-shadow: none; }
  .progress > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.8em; }
    .progress > li a {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      color: #dddddd; }
    .progress > li:before {
      background: #fff;
      border: 2px solid #f5f5f5;
      border-radius: 100%;
      content: attr(data-step);
      display: block;
      font-size: 1.5em;
      height: 3em;
      line-height: 2.9em;
      margin: 0 auto 0.25em;
      position: relative;
      text-align: center;
      width: 3em;
      z-index: 2;
      color: #dddddd; }
    .progress > li:after {
      background: #dddddd none repeat scroll 0 0;
      content: "";
      display: block;
      height: 0.2em;
      left: 50%;
      position: absolute;
      top: 2.1em;
      width: 100%;
      z-index: -1; }
    .progress > li.active:before {
      border-color: #1d1c1c;
      color: #1d1c1c; }
    .progress > li:last-child:after {
      display: none; }

#carrinho .table {
  margin: 30px 0 50px; }
  #carrinho .table th {
    color: #666666;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 18px 0;
    text-align: center;
    text-transform: uppercase; }
  #carrinho .table td {
    color: #999;
    padding: 15px;
    vertical-align: middle; }
  #carrinho .table .img-prod {
    float: left;
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
    width: 100px; }
  #carrinho .table .desc-item {
    margin-top: 15px; }
  #carrinho .table p {
    color: #999999;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0; }
  #carrinho .table .total-row td {
    background: #1d1c1c;
    color: #fff; }
  #carrinho .table .total-row span.total-item {
    font-weight: 700; }
  #carrinho .table a.remove {
    color: #a51c1c;
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin-top: 5px; }
  #carrinho .table h6.product-title a {
    color: #666666;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px; }

#carrinho .input-counter {
  width: 100px;
  display: inline-block; }
  #carrinho .input-counter input {
    height: 42px;
    width: 100px;
    border-radius: 0;
    font-size: 16px; }
  #carrinho .input-counter span {
    margin-top: -22px; }
  #carrinho .input-counter .minus-btn {
    left: 3px; }
    #carrinho .input-counter .minus-btn:before {
      display: block;
      font-family: FontAwesome;
      font-size: 25px;
      line-height: 45px;
      opacity: 1;
      content: "\f107"; }
  #carrinho .input-counter .plus-btn {
    right: 3px; }
    #carrinho .input-counter .plus-btn:before {
      display: block;
      font-family: FontAwesome;
      font-size: 25px;
      line-height: 45px;
      opacity: 1;
      content: "\f106"; }

#carrinho .culculate-shipping {
  border: 1px solid #ddd;
  padding: 5px 20px;
  margin-bottom: 15px; }
  #carrinho .culculate-shipping input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #999999;
    font-size: 13px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 100%; }

#carrinho .payment-details {
  border: 1px solid #ddd;
  padding: 10px 20px 20px; }

#carrinho .coupon-discount {
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 15px; }
  #carrinho .coupon-discount p {
    color: #999999;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 15px; }
  #carrinho .coupon-discount .input-wrap {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #999999;
    font-size: 13px;
    height: 40px;
    margin-bottom: 20px;
    width: 100%; }
  #carrinho .coupon-discount input {
    padding-left: 20px;
    width: calc(100% - 156px);
    height: 35px;
    margin: 0;
    border: none; }
  #carrinho .coupon-discount button.submit-btn {
    margin: 0; }

#carrinho.carrinho .observacao-pedido.clearfix {
  margin-bottom: 15px;
  padding: 5px 20px;
  border: 1px solid #ddd; }
  #carrinho.carrinho .observacao-pedido.clearfix textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #999999;
    font-size: 13px;
    height: 75px;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 5px;
    resize: none; }

@media (max-width: 650px) {
  #carrinho .table-xs tr.item-row {
    background: #f5f5f5;
    margin-bottom: 40px; } }

.carrinho .submit-btn {
  background: #222 none repeat scroll 0 0;
  border: medium none;
  color: white;
  float: right;
  font-size: 13px;
  font-weight: 700;
  height: 38px;
  padding: 0 20px;
  text-transform: uppercase;
  margin: 10px 0 0 10px; }
  .carrinho .submit-btn:hover {
    background: #1d1c1c; }

.carrinho .payment-details {
  border: 1px solid #ddd;
  padding: 10px 20px 20px;
  margin-bottom: 15px; }
  .carrinho .payment-details table {
    width: 100%;
    margin-top: 16px; }
    .carrinho .payment-details table tbody tr {
      border-bottom: 1px solid #eee; }
  .carrinho .payment-details .td-title-1 {
    color: #999;
    font-size: 13px;
    text-align: left;
    padding: 5px 0; }
  .carrinho .payment-details .td-title-2 {
    color: #999;
    font-weight: 500;
    text-align: right;
    padding: 5px 0; }
  .carrinho .payment-details .order-total {
    color: #1d1c1c;
    font-weight: 500;
    text-align: left;
    padding: 5px 0; }
  .carrinho .payment-details .order-total-price {
    color: #1d1c1c;
    font-weight: 700;
    text-align: right;
    padding: 5px 0; }
  .carrinho .payment-details button.submit-btn.continuar {
    background: #999999; }
    .carrinho .payment-details button.submit-btn.continuar:hover {
      opacity: 0.7; }

.carrinho .adress-details {
  border: 1px solid #ddd;
  padding: 10px 20px 20px;
  margin-bottom: 15px; }
  .carrinho .adress-details .endereco {
    margin-bottom: 10px; }
    .carrinho .adress-details .endereco h5 {
      color: #777;
      font-size: 18px;
      font-weight: 700;
      padding: 10px 0 0;
      text-align: left;
      text-transform: uppercase; }
    .carrinho .adress-details .endereco span {
      color: #777;
      display: block;
      font-size: 14px;
      text-align: left; }

.carrinho h6.titulo {
  border-left: 3px solid #1d1c1c;
  color: #666666;
  font-weight: 700;
  padding: 2px 0 2px 5px;
  text-transform: uppercase; }

@media (max-width: 650px) {
  #carrinho .coupon-discount input {
    width: 100%; }
  #carrinho .coupon-discount button.submit-btn {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px; }
  #carrinho .table .item-row {
    margin-bottom: 50px;
    background: #f8f8f8; } }

#pagamento .payment-details .endereco-block {
  padding: 5px 0; }
  #pagamento .payment-details .endereco-block h5 {
    color: #666666;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  #pagamento .payment-details .endereco-block span {
    color: #999;
    font-size: 13px;
    display: block; }

#pagamento .payment-details .control-group {
  margin: 5px 0; }
  #pagamento .payment-details .control-group .controls input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    color: #999999;
    font-size: 13px;
    height: 40px;
    padding-left: 20px;
    width: 100%; }
  #pagamento .payment-details .control-group .controls .half {
    float: left;
    margin: 0 1%;
    width: 45%; }
  #pagamento .payment-details .control-group .controls .half-1 {
    float: left;
    margin-right: 8px;
    width: 20%; }
  #pagamento .payment-details .control-group .controls .half-2 {
    float: left;
    width: 77%; }
  #pagamento .payment-details .control-group label.control-label {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    margin-top: 5px; }

#pagamento .payment-details #boleto {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin: 30px 0;
  padding: 30px; }

#pagamento .bank-flag {
  border: 1px solid #aaa;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  margin: 0 0.8em;
  overflow: hidden;
  text-indent: -999px;
  width: 50px; }
  #pagamento .bank-flag.bancodobrasil {
    background: url(../img/bandeiras/bancodobrasil.png) no-repeat center; }
  #pagamento .bank-flag.bradesco {
    background: url(../img/bandeiras/bradesco.png) no-repeat center; }
  #pagamento .bank-flag.itau {
    background: url(../img/bandeiras/itau.png) no-repeat center; }

#pagamento #paymentMethodsOptions .radio-inline {
  margin: 0 25px;
  padding: 0;
  position: relative; }
  #pagamento #paymentMethodsOptions .radio-inline.active {
    opacity: 0.8; }
    #pagamento #paymentMethodsOptions .radio-inline.active label span.btn-select {
      background: #ddd; }
  #pagamento #paymentMethodsOptions .radio-inline:hover {
    opacity: 0.8; }
  #pagamento #paymentMethodsOptions .radio-inline input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }
  #pagamento #paymentMethodsOptions .radio-inline label {
    padding: 0; }
    #pagamento #paymentMethodsOptions .radio-inline label img {
      display: block;
      margin: 0 auto;
      width: 50px; }
    #pagamento #paymentMethodsOptions .radio-inline label p {
      color: #666;
      display: block;
      font-size: 13px;
      margin: 0 0 5px;
      text-align: center; }
    #pagamento #paymentMethodsOptions .radio-inline label span.btn-select {
      background-color: #40cd28;
      border-color: #40cd28;
      color: #fff;
      display: block;
      margin: 0 auto;
      padding: 3px 5px;
      text-align: center;
      width: 85px; }

#pagamento #boleto button#boletoButton {
  background: #777;
  border: medium none;
  color: white;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 38px;
  margin: 0 0 0 10px;
  padding: 0 20px;
  text-transform: uppercase;
  margin: 0 auto;
  border-radius: 0; }
  #pagamento #boleto button#boletoButton:hover {
    opacity: 0.7; }

.bank-flag.banrisul {
  background: url(../img/bandeiras/banrisul.png) no-repeat center; }

.bank-flag.hsbc {
  background: url(../img/bandeiras/hsbc.png) no-repeat center; }

@media (max-width: 767px) {
  #pagamento .payment-details .control-group .controls .half {
    margin: 0 2%;
    width: 42%; }
  #pagamento .payment-details .control-group .controls .half-1 {
    width: 30%; }
  #pagamento .payment-details .control-group .controls .half-2 {
    width: 66%; }
  #pagamento #paymentMethodsOptions .radio-inline {
    margin: 0 12px;
    float: left;
    margin: 0 5px; }
    #pagamento #paymentMethodsOptions .radio-inline label img {
      width: 30px; }
    #pagamento #paymentMethodsOptions .radio-inline label p {
      font-size: 10px; }
    #pagamento #paymentMethodsOptions .radio-inline label span.btn-select {
      width: 70px;
      font-size: 12px; } }

#final .box-shadow h4 {
  color: #666666;
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; }

#final .box-shadow h5 {
  color: #999;
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px; }

#final .payment-details {
  margin-bottom: 10px; }
  #final .payment-details .endereco-block h5 {
    color: #666666;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }
  #final .payment-details .endereco-block span {
    color: #999;
    display: block;
    font-size: 13px; }
  #final .payment-details table tr td {
    padding: 5px; }
  #final .payment-details table tr.total td {
    background: #f5f5f5; }

#endereco #boxnovoendereco .radio {
  border: 1px solid #ddd;
  padding: 10px 20px 20px; }
  #endereco #boxnovoendereco .radio:hover {
    opacity: 0.7; }
  #endereco #boxnovoendereco .radio label {
    cursor: pointer; }
    #endereco #boxnovoendereco .radio label input {
      background: transparent none repeat scroll 0 0;
      height: 100%;
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      cursor: pointer; }
    #endereco #boxnovoendereco .radio label h5 {
      color: #777;
      font-size: 18px;
      font-weight: 700;
      padding: 10px 0 0;
      text-align: left;
      text-transform: uppercase; }
      #endereco #boxnovoendereco .radio label h5 small {
        display: block;
        text-transform: lowercase; }
    #endereco #boxnovoendereco .radio label span {
      color: #777;
      display: block;
      font-size: 14px;
      text-align: left; }
  #endereco #boxnovoendereco .radio.selected {
    border-color: #1d1c1c; }
  #endereco #boxnovoendereco .radio.selected::before {
    color: #1d1c1c;
    content: "\f058";
    display: inline-block;
    font: 28px/1 FontAwesome;
    position: absolute;
    right: 5px;
    text-rendering: auto;
    top: 2px;
    z-index: 2; }

#endereco #boxnovoendereco h6.titulo {
  font-size: 22px;
  margin: 40px 0 10px; }

#endereco #boxnovoendereco .formEndereco input {
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 10px 12px;
  height: 40px; }
